*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  background: white;
  color: black;
  text-rendering: optimizeSpeed;
  font-family: American Typewriter, sans-serif;
}

.App {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  background: white;
  border-radius: 25px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: black;
  font-family: American Typewriter, sans-serif;
}

.input-wrapper {
  margin: 3.5rem;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
}


input:focus {
  outline: none;
}

button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input,
button {
  font-size: 1em;
  color: black;
  font-family: American Typewriter;
  background: transparent;
  border: 1px solid #828691;
}

input::placeholder {
  font-family: American Typewriter, sans-serif;
  opacity: 0.5;
  color: black;
}

.todo-tag{
  font-family: American Typewriter, sans-serif;
  opacity: 1.0;
  color: black;
}

input[type="text"]
{
  font-family: American Typewriter, sans-serif;
  color: black;
}

input[type="date"]
{
  font-family: American Typewriter, sans-serif;
  color: black;
}

#todo-box{
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 200px;
    height: 15px;
    margin-left: -300px;
    margin-right: 20px;
}

#date-box{
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 200px;
    height: 15px;
    margin-right: 20px;
}

.add-button {
  color: black;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px; 
  width: 100px;
  height: 15px;
  position: absolute;
  margin-bottom: 50px;
  line-height: 4px;
  font-family: American Typewriter, sans-serif;

}


.add-button:hover {
  color: #252525;
  background: #44c0b6;
}

.due-date{
  position: relative;
  margin-left: 50px;
  margin-top: -1px
}

.edit-button{
  color: black;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  width: 100px;
  height: 15px;
  line-height: 0px;
  margin-left: auto;
  left: 640px;
  position: absolute;
}

.edit-button:hover{
  color: black;
  background: green;
}

.delete-button {
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  height: 15px;
  width: 100px;
  line-height: 0px;
  margin-left: auto;
  color: black;
  left: 750px;
  position: absolute;
}
.delete-button:hover {
  color: #252525;
  background: #fe6a6a;
}

.update-button{
  border: none;
  color: white;
  margin-left: auto;
  right: 500px;
  color: black;
}

.update-button:hover {
  color: #252525;
  background: green;
}

.duplicate-button{
  border: none;
  color: black;
  margin-left: auto;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  height: 15px;
  width: 110px;
  margin-right: 18px;
  line-height: 0px;
}

.duplicate-button:hover {
  color: #252525;
  background: yellowgreen;
}

.clear-button{
  color: black;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px; 
  width: 200px;
  height: 15px;
  margin-bottom: 50px;
  line-height: 4px;
  font-family: American Typewriter, sans-serif;

}

.todo-list {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
.todo {
  text-align: left;
  margin-bottom: 0.5rem;
  background: rgb(255, 255, 255);
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:15px;
}

.todo-entry {
  padding-left: 5px;
  width: 20%;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}

input[type="checkbox"] {
  size:100px;
  background-color:green;
}

.todo-completed{
  text-decoration: line-through;
}

.todo-overdue{
  color:red;
}

.todo-tag{
  color:black;
  width: 170px;
  margin-right: 35px;
  display: 'inline-block'
}

.react-select {
  color:black;
  border-radius: 25px;
  padding: 20px; 
  width: 200px;
  height: 15px;
  line-height:-5px;
  margin-top: -62px;
  margin-left:610px;
}

